html, body {
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
  background:black;
}



#game {
  width:1280px;
  height:720px;
  background:black;
}

main {
  position:absolute;
  top:170px;
  left:0;
  transform:rotateZ(90deg) scale(0.8);
}